* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ff3d5a, #eaf27e, #3b8c88, #ffb969) no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 10s ease alternate infinite;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.pw-container {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pw-header {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
}

.pw > span {
    color: black;
    font-size: large;
}

.pw > button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
}

.pw-body {
    width: 80%;
    max-width: 1200px;
    height: 50%;
    max-height: 1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.form-control {
    display: flex;
    justify-content: space-between;
}

.btns {
    width: 80%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    height: 45px;
    width: 195px;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

.btn:nth-child(2) {
    border-radius: 0 10px 10px 0;

}.pw-container {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pw-header {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
}

.pw > span {
    color: black;
    font-size: large;
}

.pw > button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    border: none;
}

.pw-body {
    width: 80%;
    max-width: 1200px;
    height: 50%;
    max-height: 1000px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.form-control {
    display: flex;
    justify-content: space-between;
}

.btns {
    width: 80%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    height: 45px;
    width: 195px;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

.btn:nth-child(2) {
    border-radius: 0 10px 10px 0;

}
